@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Httpclient
@inject NavigationManager Navigationmanager
<PageTitle>Pizza</PageTitle>

<h3 class="text-center py-5">Pizza Special</h3>

<div class="container">
    <div class="row d-flex justify-content-center">
        @if (pizzaSpecials != null)
        {
            @foreach (var special in pizzaSpecials)
            {
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="@special.Image" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">@special.Name</h5>
                            <p class="card-text">@special.Description</p>
                            <span class="badge rounded-pill bg-primary">@special.GetFormattedBasePrice() €</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {

    private List<Data.PizzaSpecial> pizzaSpecials = new List<Data.PizzaSpecial>();

    protected override async Task OnInitializedAsync()
    {
        pizzaSpecials = await Httpclient.GetFromJsonAsync<List<Data.PizzaSpecial>>(Navigationmanager.BaseUri + "pizzaSpecials");
    }
}
